Repository Ba-So/nix-devshells, changes with the labels that .github/labeler.yaml gives for each.
All labels: nix, flake, ci, pre-commit, templates, packages, documentation, devshells, rust, php, cpp, latex, python, ansible

fix: add deadnix and statix to nix devshell
  languages/nix.nix
Labels: nix, devshells

migrate pre-commit-hook
  .pre-commit-config.yaml
Labels: pre-commit

fix: track flake.lock for reproducible builds
  .gitignore
  flake.lock
Labels: flake

fix: git init and git add the test-xxx folders
  .github/workflows/ci.yaml
Labels: ci

fix: comment out package builds in templates
  templates/latex/flake.nix
  templates/php/flake.nix
  templates/rust/flake.nix
Labels: nix, templates, rust, php, latex

improve docs, refactor base into pkgs, remove old serena-flake in favor of upstream flake
  README.md
  base/serena.Dockerfile
  base/serena.nix
  default.nix
  flake.nix
  languages/ansible.nix
  languages/cpp.nix
  languages/latex.nix
  languages/nix.nix
  languages/php.nix
  languages/python.nix
  languages/rust.nix
  pkgs/codanna.nix
  pkgs/common.nix
  pkgs/default.nix
  pkgs/gitlab.nix
  pkgs/shrimp.nix
Labels: nix, flake, packages, documentation, devshells, rust, php, cpp, latex, python, ansible

doc: update
  README.md
Labels: documentation

fix: resolve pre-commit-hook flags
  README.md
  languages/ansible.nix
  languages/cpp.nix
  languages/latex.nix
  languages/nix.nix
  languages/php.nix
  languages/python.nix
  languages/rust.nix
  templates/latex/flake.nix
  templates/php/flake.nix
  templates/rust/flake.nix
Labels: nix, templates, documentation, devshells, rust, php, cpp, latex, python, ansible

feat: adds the puppeteer-mcp
  README.md
  flake.nix
  languages/rust.nix
  pkgs/default.nix
  pkgs/puppeteer-mcp.nix
Labels: nix, flake, packages, documentation, devshells, rust

flake update
  flake.lock
Labels: flake

feat: makes serena et al available for extension in custom devshells
  README.md
  default.nix
  flake.nix
Labels: nix, flake, documentation, devshells

fix: serena troubles
  default.nix
  pkgs/common.nix
Labels: nix, packages, devshells

feat: add comprehensive devshell modularity proposal
  MODULARITY_PROPOSAL.md
Labels: documentation

feat: Create library structure and composition functions
  lib/compose.nix
  lib/default.nix
  lib/mcp.nix
  lib/utils.nix
  lib/validate.nix
Labels: nix

feat: Initialize module-system
  modules/languages/ansible.nix
  modules/languages/cpp.nix
  modules/languages/default.nix
  modules/languages/latex.nix
  modules/languages/nix.nix
  modules/languages/php.nix
  modules/languages/python.nix
  modules/languages/rust.nix
  modules/mcp/cargo.nix
  modules/mcp/codanna.nix
  modules/mcp/cratedocs.nix
  modules/mcp/default.nix
  modules/mcp/gitlab.nix
  modules/mcp/puppeteer.nix
  modules/mcp/serena.nix
  modules/mcp/shrimp.nix
  modules/presets/default.nix
  modules/presets/full.nix
  modules/presets/minimal.nix
  modules/presets/standard.nix
  modules/tools/default.nix
  modules/tools/editors.nix
  modules/tools/nix-tools.nix
  modules/tools/utilities.nix
  modules/tools/version-control.nix
Labels: nix

feat(flake): expose lib system and add composed shells
  .shrimp/tasks.json
  MODULARITY_PROPOSAL.md
  flake.nix
  lib/compose.nix
  lib/default.nix
  lib/utils.nix
Labels: nix, flake, documentation

refactor(default.nix): migrate to module system internally
  .shrimp/tasks.json
  default.nix
Labels: nix, devshells

feat(templates): update all templates to demonstrate new composition API
  .shrimp/tasks.json
  templates/cpp/flake.nix
  templates/latex/flake.nix
  templates/php/flake.nix
  templates/rust/flake.nix
Labels: nix, templates, rust, php, cpp, latex

docs: create comprehensive documentation for modular system
  .shrimp/tasks.json
  COMPOSITION_GUIDE.md
  MODULE_GUIDE.md
  README.md
Labels: documentation

test: comprehensive validation of modular system
  .shrimp/tasks.json
  TEST_REPORT.md
Labels: documentation

doc: reduce verbosity of documentation
  .github/CI.md
  .gitignore
  .shrimp/tasks.json
  COMPOSITION_GUIDE.md
  MODULARITY_PROPOSAL.md
  MODULE_GUIDE.md
  README.md
  TEST_REPORT.md
  templates/cpp/README.md
  templates/php/README.md
  templates/rust/README.md
Labels: templates, documentation, rust, php, cpp

fix: adds deduplication to added modules, to avoid duplications from presets
  lib/compose.nix
  lib/default.nix
  lib/utils.nix
Labels: nix

fix: removes gitlab-mcp from standard toolset
  modules/presets/standard.nix
Labels: nix

feat adds pre-commit packages
  languages/cpp.nix
  modules/tools/utilities.nix
Labels: nix, devshells, cpp

fix: adds nodejs
  modules/tools/utilities.nix
Labels: nix

feat: adds julia-language support
  default.nix
  flake.nix
  modules/languages/default.nix
  modules/languages/julia.nix
Labels: nix, flake, devshells

feat: adds claude-task-master to replace shrimp-mcp
  README.md
  flake.nix
  lib/default.nix
  modules/mcp/claude-task-master.nix
  modules/mcp/default.nix
  pkgs/claude-task-master.nix
Labels: nix, flake, packages, documentation

ref: use npmbuildpackage
  .env.example
  .gitignore
  .mcp.json
  .taskmaster/CLAUDE.md
  .taskmaster/config.json
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  .taskmaster/templates/example_prd.txt
  .taskmaster/templates/example_prd_rpg.txt
  CLAUDE.md
  flake.lock
  flake.nix
  pkgs/claude-task-master.nix
  pkgs/claude-task-master/claude-task-master-package-lock.json
  pkgs/claude-task-master/claude-task-master-package.json
  pkgs/claude-task-master/default.nix
  pkgs/common.nix
  pkgs/default.nix
Labels: nix, flake, packages, documentation

fix: make all binaries available
  pkgs/claude-task-master/default.nix
Labels: nix, packages

fix: paths
  lib/default.nix
  modules/mcp/default.nix
Labels: nix

fix: confusion
  flake.nix
  modules/mcp/default.nix
  pkgs/default.nix
Labels: nix, flake, packages

fudging
  pkgs/claude-task-master/default.nix
Labels: nix, packages

fix: makes presets sane
  modules/presets/default.nix
  modules/presets/full.nix
Labels: nix

feat: update task-master to 0.37.0
  pkgs/claude-task-master/claude-task-master-package.json
  pkgs/claude-task-master/default.nix
  pkgs/claude-task-master/package-lock.json
  pkgs/claude-task-master/update.sh
  pkgs/default.nix
Labels: nix, packages

formatting
  flake.nix
Labels: nix, flake

feat: address unfree error
  lib/default.nix
Labels: nix

feat: update codanna to 0.8.3
  flake.lock
  pkgs/codanna.nix
Labels: nix, flake, packages

feat, php: adds phpstan
  languages/php.nix
  modules/languages/php.nix
Labels: nix, devshells, php

feat: add qdrant-mcp
  flake.lock
  flake.nix
  lib/default.nix
  modules/mcp/default.nix
  modules/mcp/qdrant.nix
  pkgs/qdrant-mcp.nix
Labels: nix, flake, packages

fix: inputs for qdrant-mcp
  flake.nix
Labels: nix, flake

.github/labeler.yaml:

---
# Auto-label PRs based on changed files

"nix":
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"

"flake":
  - changed-files:
      - any-glob-to-any-file:
          - "flake.nix"
          - "flake.lock"

"ci":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/dependabot.yaml"

"pre-commit":
  - changed-files:
      - any-glob-to-any-file:
          - ".pre-commit-config.yaml"
          - "**/.pre-commit-config.yaml"

"templates":
  - changed-files:
      - any-glob-to-any-file: "templates/**"

"packages":
  - changed-files:
      - any-glob-to-any-file: "pkgs/**"

"documentation":
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "README.md"

"devshells":
  - changed-files:
      - any-glob-to-any-file:
          - "languages/**"
          - "base/**"
          - "default.nix"

"rust":
  - changed-files:
      - any-glob-to-any-file:
          - "templates/rust/**"
          - "languages/rust.nix"

"php":
  - changed-files:
      - any-glob-to-any-file:
          - "templates/php/**"
          - "languages/php.nix"

"cpp":
  - changed-files:
      - any-glob-to-any-file:
          - "templates/cpp/**"
          - "languages/cpp.nix"

"latex":
  - changed-files:
      - any-glob-to-any-file:
          - "templates/latex/**"
          - "languages/latex.nix"

"python":
  - changed-files:
      - any-glob-to-any-file: "languages/python.nix"

"ansible":
  - changed-files:
      - any-glob-to-any-file: "languages/ansible.nix"
