Repository Ba-So/nix-devshells, changes with the labels that .github/labeler.yaml gives for each.
All labels: nix, flake, ci, pre-commit, templates, packages, documentation, devshells, rust, php, cpp, latex, python, ansible

.github/labeler.yaml:

---
# Auto-label PRs based on changed files

"nix":
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"

"flake":
  - changed-files:
      - any-glob-to-any-file:
          - "flake.nix"
          - "flake.lock"

"ci":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/dependabot.yaml"

"pre-commit":
  - changed-files:
      - any-glob-to-any-file:
          - ".pre-commit-config.yaml"
          - "**/.pre-commit-config.yaml"

"templates":
  - changed-files:
      - any-glob-to-any-file: "templates/**"

"packages":
  - changed-files:
      - any-glob-to-any-file: "pkgs/**"

"documentation":
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "README.md"

"devshells":
  - changed-files:
      - any-glob-to-any-file:
          - "languages/**"
          - "base/**"
          - "default.nix"

"rust":
  - changed-files:
      - any-glob-to-any-file:
          - "templates/rust/**"
          - "languages/rust.nix"

"php":
  - changed-files:
      - any-glob-to-any-file:
          - "templates/php/**"
          - "languages/php.nix"

"cpp":
  - changed-files:
      - any-glob-to-any-file:
          - "templates/cpp/**"
          - "languages/cpp.nix"

"latex":
  - changed-files:
      - any-glob-to-any-file:
          - "templates/latex/**"
          - "languages/latex.nix"

"python":
  - changed-files:
      - any-glob-to-any-file: "languages/python.nix"

"ansible":
  - changed-files:
      - any-glob-to-any-file: "languages/ansible.nix"

dotifle nonsense
  .gitignore
  .mcp.json
  .taskmaster/CLAUDE.md
  .taskmaster/config.json
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  flake.lock
Labels: flake, documentation

feat: auto-config for task-master with support for claude-code
  modules/mcp/claude-task-master.nix
Labels: nix

fix mcp's
  .mcp.json
Labels: none

fix mcp's
  .mcp.json
Labels: none

ref: move utilities to minimal flake
  modules/presets/minimal.nix
  modules/presets/standard.nix
Labels: nix

feat: adds javascript-support
  languages/js.nix
  modules/languages/default.nix
  modules/languages/js.nix
Labels: nix, devshells

fix: packages and shell-message
  modules/languages/js.nix
Labels: nix
